In [1]:
import pandas as pd
import data
from db import Database

In [2]:
# 1. Python: Download a timeseries of daily deaths per country
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
covid_deaths_df = pd.read_csv(url)
covid_deaths_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 77 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  80 non-null     object
 1   Country/Region  258 non-null    object
 2   Lat             258 non-null    float64
 3   Long            258 non-null    float64
 4   1/22/20         258 non-null    int64
 5   1/23/20         258 non-null    int64
 6   1/24/20         258 non-null    int64
 7   1/25/20         258 non-null    int64
 8   1/26/20         258 non-null    int64
 9   1/27/20         258 non-null    int64
 10  1/28/20         258 non-null    int64
 11  1/29/20         258 non-null    int64
 12  1/30/20         258 non-null    int64
 13  1/31/20         258 non-null    int64
 14  2/1/20          258 non-null    int64
 15  2/2/20          258 non-null    int64
 16  2/3/20          258 non-null    int64
 17  2/4/20          258 non-null    int64
 18  2/5/20          258 non-null    int64
 19  2/6/20          258 non-null    int64
 20  2/7/20          258 non-null    int64
 21  2/8/20          258 non-null    int64
 22  2/9/20          258 non-null    int64
 23  2/10/20         258 non-null    int64
 24  2/11/20         258 non-null    int64
 25  2/12/20         258 non-null    int64
 26  2/13/20         258 non-null    int64
 27  2/14/20         258 non-null    int64
 28  2/15/20         258 non-null    int64
 29  2/16/20         258 non-null    int64
 30  2/17/20         258 non-null    int64
 31  2/18/20         258 non-null    int64
 32  2/19/20         258 non-null    int64
 33  2/20/20         258 non-null    int64
 34  2/21/20         258 non-null    int64
 35  2/22/20         258 non-null    int64
 36  2/23/20         258 non-null    int64
 37  2/24/20         258 non-null    int64
 38  2/25/20         258 non-null    int64
 39  2/26/20         258 non-null    int64
 40  2/27/20         258 non-null    int64
 41  2/28/20         258 non-null    int64
 42  2/29/20         258 non-null    int64
 43  3/1/20          258 non-null    int64
 44  3/2/20          258 non-null    int64
 45  3/3/20          258 non-null    int64
 46  3/4/20          258 non-null    int64
 47  3/5/20          258 non-null    int64
 48  3/6/20          258 non-null    int64
 49  3/7/20          258 non-null    int64
 50  3/8/20          258 non-null    int64
 51  3/9/20          258 non-null    int64
 52  3/10/20         258 non-null    int64
 53  3/11/20         258 non-null    int64
 54  3/12/20         258 non-null    int64
 55  3/13/20         258 non-null    int64
 56  3/14/20         258 non-null    int64
 57  3/15/20         258 non-null    int64
 58  3/16/20         258 non-null    int64
 59  3/17/20         258 non-null    int64
 60  3/18/20         258 non-null    int64
 61  3/19/20         258 non-null    int64
 62  3/20/20         258 non-null    int64
 63  3/21/20         258 non-null    int64
 64  3/22/20         258 non-null    int64
 65  3/23/20         258 non-null    int64
 66  3/24/20         258 non-null    int64
 67  3/25/20         258 non-null    int64
 68  3/26/20         258 non-null    int64
 69  3/27/20         258 non-null    int64
 70  3/28/20         258 non-null    int64
 71  3/29/20         258 non-null    int64
 72  3/30/20         258 non-null    int64
 73  3/31/20         258 non-null    int64
 74  4/1/20          258 non-null    int64
 75  4/2/20          258 non-null    int64
 76  4/3/20          258 non-null    int64
dtypes: float64(2), int64(73), object(2)
memory usage: 155.3+ KB

In [3]:
# 2. Python: Convert the table so that each country and each day is a separate row 
df = data.get_total_deaths_per_country_and_day(covid_deaths_df)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13213 entries, 0 to 13212
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  13213 non-null  object
 1   date     13213 non-null  datetime64[ns]
 2   deaths   13213 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 309.8+ KB

       country       date  deaths
0  Afghanistan 2020-01-22       0
1      Albania 2020-01-22       0
2      Algeria 2020-01-22       0
3      Andorra 2020-01-22       0
4       Angola 2020-01-22       0

In [4]:
# 3.  Python: Provide code to upload the table from step 3 (assuming 2) into an SQL table named deaths_total

db_name = 'Covid19.db'
total_deaths_table = 'deaths_total'
db = Database(db_name)
total_rows, new_rows = db.add_new_death_data(df, total_deaths_table)
print("Total rows in the table: "+str(total_rows))
print("Newly added rows in the table: "+ str(new_rows))

Total rows in the table: 13213
Newly added rows in the table: 13213

In [4]:
# 4.  Python: From the data in step 2, calculate the daily change in deaths for each country